body {
  background-color: #eee;
}
.form-layout {
  display: grid;
  grid-template-columns: 1fr minmax(768px, 3fr) 1fr;
  grid-template-areas: ". content . " ". content . " ". content . ";
}
.content {
  grid-area: content;
  padding: 0 12px;
  background-color: white;
}
